<% if current_user.profile == @profile%>
<h1>My Profile</h1>
<% else %>
<h1><%= @profile.first_name %></h1>
<% end %>
<p><%= @profile.tagline %></p>

<div class="row">
<p class="span8">
<%= image_tag(@profile.avatar.url) %>
</p>
<p class="span4 offset8 vcenter">
<%= @profile.bio %><br />
<% if @profile.pets %>
Has pets
<% else %>
Doesn't have pets
<% end %>
and
<% if @profile.kids %>
has kids.
<% else %>
doesn't have kids.
<% end %>
</p>
<p>Likes: <%= @profile.like_list %></p>
<p>Disikes: <%= @profile.dislike_list %></p>
	
</div>

<% if current_user.id == @profile.user_id %>
<div class="row">
	<p class="span12">
<%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn"  %>

<%= link_to 'Edit Account', edit_user_registration_path(current_user), class: "btn"  %>

<% else %>

<% if @fav %>
<%= link_to "Remove Favorite", favorite_path(@fav), method: :delete, class: 'btn' %>
<% else %>
<%= link_to "Add Favorite", {controller: "favorites", id: @profile.id}, method: :post, class: 'btn' %>
<% end %>

<% if @con %>
<%= link_to "See Conversation", conversation_path(@con), class: 'btn' %>
<% else %>
<% if @newcon %>
<%= link_to "Start a Conversation!", {controller: "conversations", id: @profile.id}, method: :post, class: 'btn' %>
<% else %>
<a href="#" class="btn disabled">Give it a day!</a>
<% end %>
<% end %>

</p>
</div>
<% end %>