<h1><%= @profile.first_name %></h1>

<p>

<%= image_tag(@profile.avatar.url) %>

</p>

<p><%= @profile.bio %></p>
<p>
<% if @profile.pets %>
Has pets
<% else %>
Doesn't have pets
<% end %>
and
<% if @profile.kids %>
has kids.
<% else %>
doesn't have kids.
<% end %>
</p>

<% if current_user.id == @profile.user_id %>

<%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn"  %>

<%= link_to 'Edit Account', edit_user_registration_path(current_user), class: "btn"  %>

<% else %>

<% if @fav %>
<%= link_to "Remove Favorite", favorite_path(@fav), method: :delete, class: 'btn' %>
<% else %>
<%= link_to "Add Favorite", {controller: "favorites", id: @profile.id}, method: :post, class: 'btn' %>
<% end %>

<% end %>