<% if current_user.profile == @profile%>
<h1>My Profile</h1>
<% else %>
<h1><%= @profile.first_name %></h1>
<% end %>
<p><%= @profile.tagline %></p>


<% if @profile.photos.first %>

<div class="diy-slideshow">
	<% @profile.photos.each do |pic|%>
	<% if pic == @profile.photos.first %>
		<figure class="show">
	<% else %>
		<figure>
	<% end %>
		<%= image_tag(pic.avatar.url) %>
		<% if pic.caption != "" %>
		<figcaption><%= pic.caption %></figcaption> 
		<% end %>
	</figure>
    <% end %>
  <% if @profile.photos.count > 1 %>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
  <% end %>
</div>

<% end %>


<p class="vcenter">
<%= @profile.bio %><br />
<% if @profile.pets %>
Has pets
<% else %>
Doesn't have pets
<% end %>
and
<% if @profile.kids %>
has kids.
<% else %>
doesn't have kids.
<% end %>
</p>
<p>Likes: <%= @profile.like_list %></p>
<p>Disikes: <%= @profile.dislike_list %></p>
	


<% if current_user.id == @profile.user_id %>
<div class="row">
	<p class="span12">
<%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn"  %>

<%= link_to 'Edit Account', edit_user_registration_path(current_user), class: "btn"  %>

<%= link_to "Edit Photos", profile_photos_path(@profile), class: 'btn' %>

<% else %>

<% if @fav %>
<%= link_to "Remove Favorite", favorite_path(@fav), method: :delete, class: 'btn' %>
<% else %>
<%= link_to "Add Favorite", {controller: "favorites", id: @profile.id}, method: :post, class: 'btn' %>
<% end %>

<% if @con %>
<%= link_to "See Conversation", conversation_path(@con), class: 'btn' %>
<% else %>
<% if @newcon %>
<%= link_to "Start a Conversation!", {controller: "conversations", id: @profile.id}, method: :post, class: 'btn' %>
<% else %>
<a href="#" class="btn disabled">Give it a day!</a>
<% end %>
<% end %>

</p>
</div>
<% end %>

<script type="text/javascript">
(function(){
  
var counter = 0, // to keep track of current slide
    $items = document.querySelectorAll('.diy-slideshow figure'), // a collection of all of the slides, caching for performance
    numItems = $items.length; // total number of slides

// this function is what cycles the slides, showing the next or previous slide and hiding all the others
var showCurrent = function(){
  var itemToShow = Math.abs(counter%numItems);// uses remainder (aka modulo) operator to get the actual index of the element to show  
  
  // remove .show from whichever element currently has it 
  // http://stackoverflow.com/a/16053538/2006057
  [].forEach.call( $items, function(el){
    el.classList.remove('show');
  });
  
  // add .show to the one item that's supposed to have it
  $items[itemToShow].classList.add('show');    
};

// add click events to prev & next buttons 
document.querySelector('.next').addEventListener('click', function() {
     counter++;
     showCurrent();
  }, false);

document.querySelector('.prev').addEventListener('click', function() {
     counter--;
     showCurrent();
  }, false);
  
})();
</script>