<h1><%= @profile.first_name %></h1>

<div class="row">
<p class="span8">
<%= image_tag(@profile.avatar.url) %>
</p>
<p class="span4 offset8 vcenter">
<%= @profile.bio %><br />
<% if @profile.pets %>
Has pets
<% else %>
Doesn't have pets
<% end %>
and
<% if @profile.kids %>
has kids.
<% else %>
doesn't have kids.
<% end %>
</p>
</div>

<% if current_user.id == @profile.user_id %>
<div class="row">
	<p class="span12">
<%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn"  %>

<%= link_to 'Edit Account', edit_user_registration_path(current_user), class: "btn"  %>

<% else %>

<% if @fav %>
<%= link_to "Remove Favorite", favorite_path(@fav), method: :delete, class: 'btn' %>
<% else %>
<%= link_to "Add Favorite", {controller: "favorites", id: @profile.id}, method: :post, class: 'btn' %>
<% end %>

<%= link_to "Start a Conversation!", {controller: "conversations", id: @profile.id}, method: :post, class: 'btn' %>

</p>
</div>
<% end %>