<h1>Looking for someone?</h1>

<%= form_for @search do |f| %>

<% if @search.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@search.errors.count, "error") %> prohibited
    this post from being saved:</h2>
  <ul>
  <% @search.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

  <p>I am looking for people:</p>

  <p>Who
  <%= f.select :pets, [['might have pets', 'both'],['have pets', true],['have no pets', false]] %></p>

  <p>Who
  <%= f.select :kids, [['might have kids', 'both'],['have kids', true],['have no kids', false]]%></p>
	
	<p>Who lives within
	<%= f.select :distance, (0..25).step(5).to_a, {}, class: 'span1' %> miles of me</p>
	
	<p>Who are between
	<%= f.select :minage, (18..70).step(2).to_a, {}, class: 'span1' %> and 
	<%= f.select :maxage, (18..70).step(2).to_a.reverse, {}, class: 'span1' %> years old</p>
	
	<p>Who are between 
	<%= f.select :minheight, (48..84), {}, class: 'span1' %> and 
	<%= f.select :maxheight, (48..84).to_a.reverse, {}, class: 'span1' %> inches tall</p>
	
	<p>Who weigh between 
	<%= f.select :minweight, (90..300).step(5).to_a, {}, class: 'span1' %> and 
	<%= f.select :maxweight, (90..300).step(5).to_a.reverse, {}, class: 'span1' %> pounds</p>

  <div><%= f.submit "Find Matches!", class: 'btn' %></div>
<% end %>
