<!DOCTYPE html>
<html>
<head>
  <title>Sapion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container">
	
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
    <%= link_to "Sapion", root_path, class: 'brand'  %>
    <% if user_signed_in? %>
    <ul class="nav">
	<li class="divider-vertical"></li>
	<% if current_user.profile %>
    <li><%= link_to "My Profile", profile_path(current_user.profile)  %></li>
    <% else %>
    <li><%= link_to "New Profile", new_profile_path  %></li>
    <% end %>
	<% if current_user.search %>
    <li><%= link_to "Matches", search_path(current_user.search)  %></li>
    <% else %>
    <li><%= link_to "Matches", new_search_path  %></li>
    <% end %>
    <li><%= link_to "Favorites", favorites_path  %></li>
    <li><%= link_to "Conversations", conversations_path  %></li>
    </ul>
    <ul class="nav pull-right">
	<li class="divider-vertical"></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul class="nav pull-right">
	<li class="divider-vertical"></li>
    <li><%= link_to "Sign up", new_user_registration_path  %></li>
    <li><%= link_to "Login", new_user_session_path  %></li>
    </ul>
    <% end %>
    </div>
    </div>
    </div>

<div>

<%= yield %>

</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
<div class="navbar-inner">
<div class="container">	
	<%= link_to "Sapion", root_path, class: 'brand'  %>
<ul class="nav">
	<li class="navbar-text">Augmented dating for thoughtful people</li>
	<li class="divider-vertical"></li>
	<li><%= link_to "FAQ", faq_path %></li>
	<li><%= link_to "Support", support_path %></li>
</ul>
<ul class="nav pull-right">
	<li class="divider-vertical"></li>
	<li><a href="http://matthewmosher.us">©2014 Matthew Mosher</a></li>
</ul>
</div>
</div>
</div>

	
</div>
</body>
</html>
