<!DOCTYPE html>
<html>
<head>
  <title>Sapion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container-fluid">
	
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <a href="#" class="brand">Sapion</a>
    <% if user_signed_in? %>
    <ul class="nav">
	<% if current_user.profile %>
    <li><%= link_to "My Profile", profile_path(current_user.profile)  %></li>
    <% else %>
    <li><%= link_to "New Profile", new_profile_path  %></li>
    <% end %>
    <li><a href="#">Search</a></li>
    <li><a href="#">Conversations</a></li>
    </ul>
    <ul class="nav pull-right">
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul class="nav pull-right">
    <li><%= link_to "Sign up", new_user_registration_path  %></li>
    <li><%= link_to "Login", new_user_session_path  %></li>
    </ul>
    <% end %>
    </div>
    </div>

<div class="span10">

<%= yield %>

</div>

<div class="span2">
	
</div>
	
	
</div>
</body>
</html>
